/**** General ****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

header, section, footer {
    background-color: #2B60BC;
    color: #fff;
}

/**** Header ****/
.header-container {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.header-container > h1, p {
    text-align: center;
}

.header-container h1 {
    font-size: 3.5em;
}

.header-container p {
    font-size: 1.75em;
}
/**** Navigation ****/
nav {
    margin: 20px 0;
}

ul li {
    list-style: none;
    display: inline;
    font-size: 1.5em;
}

/**** Main ****/

/**** Footer ****/
