/**** General ****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

header, section, footer {
    background-color: #2B60BC;
    color: #fff;
}

/**** Header ****/
/**** Navigation ****/
ul li {
    list-style: none;
    display: inline;
}

/**** Main ****/

/**** Footer ****/
