/**** General ****/

/**** Home ****/
.home {
    display: block;
}

/**** About ****/
.about {
    display: none;
}

/**** Portfolio ****/
.portfolio {
    display: none;
}

/**** Blog ****/
.blog {
    display: none;
}

/**** Contact ****/
.contact {
    display: none;
}